---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./**/*.md");
---

<BaseLayout>
  {
    allPosts.map((post) => (
      <div class="py-12">
        <div class="py-1 flex gap-2">
          <a href={post.url} class="no-underline font-normal text-gray-700">
            {post.frontmatter.title}
          </a>
          <div class="italic text-gray-400">{post.frontmatter.createdAt}</div>
        </div>
      </div>
    ))
  }
</BaseLayout>
