---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <header>
    <h1>Yiqing Fan</h1>
    <nav class="flex gap-2">
      <a href="/">主页</a>
      <a href="/posts">文章</a>
      <a href="/rss.xml">RSS</a>
    </nav>
  </header>

  <slot />
</BaseLayout>
